// Breakpoints

$breakpoint-medium: 600px;
$breakpoint-large: 1280px;

// Fonts

$main_font: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$code_font: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
  monospace;

// Colores

$gbrand900: #213e22;
$gbrand800: #2c6424;
$gbrand700: #378b27;
$gbrand600: #3ea029;
$gbrand500: #43b02a;
$gbrand400: #72c65f;
$gbrand300: #a0d894;
$gbrand200: #d0ecc9;
$gbrand100: #ecf7e9;
$bbrand900: #102e4b;
$bbrand800: #0d4375;
$bbrand700: #0a5aa2;
$bbrand600: #0268bc;
$bbrand500: #0072ce;
$bbrand400: #4193da;
$bbrand300: #80b7e6;
$bbrand200: #c0dbf3;
$bbrand100: #e5f1fa;
$ybrand900: #504017;
$ybrand800: #8a670f;
$ybrand700: #c49006;
$ybrand600: #e7a703;
$ybrand500: #ffb800;
$ybrand400: #ffca40;
$ybrand300: #ffdc7f;
$ybrand200: #ffeebf;
$ybrand100: #fff8e5;
$rbrand900: #4a1717;
$rbrand800: #7d150f;
$rbrand700: #b21407;
$rbrand600: #d11203;
$rbrand500: #e61200;
$rbrand400: #ec4d40;
$rbrand300: #f2887f;
$rbrand200: #f9c3bf;
$rbrand100: #fde6e5;
$gray900: #16181f;
$gray800: #444b62;
$gray700: #838aa2;
$gray600: #a2a7ba;
$gray500: #caced8;
$gray400: #e4e6eb;
$gray300: #f5f6f7;
$gray200: #f8f8f8;
$gray100: #fafafa;
